::selection {
  color: #fff;
  background: #000000 !important;
}

#slider-menu {
	position: absolute;
	left: 5%;
	top: 5%;
	text-decoration: underline;
}

#slider-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
    width: 700px;
    height: 550px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    overflow: hidden;
}

#slider-wrapper {
    width: 5000px;
    transform: translate3d(0, 0, 0);
    font-family: Courier, 'Corier New', monospace;
    transition: transform .5s ease-in-out;
}

#image_slider{
    position: relative;
    padding:0;
}

#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}

.graghics {
    margin: 0;
    padding: 0;
    width: 700px;
    height: 550px;
    background-repeat: no-repeat;
}

#itemOne {
	text-align: center;
}

#itemOne h3 {
	font-family: 'Lato';
	font-weight: 500;
	font-size: 1.6rem;
	margin-top: 200px;
}

#slider-wrapper img {
	height: 500px;
	display: block;
	margin: 0 auto;
-webkit-box-shadow: 5px 5px 9px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    5px 5px 9px 0px rgba(50, 50, 50, 0.75);
box-shadow:         5px 5px 9px 0px rgba(50, 50, 50, 0.75);
}

#navLinks {
    text-align: center;
    width: 90%;
    position: absolute;
	top: 90%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: #000000;
            padding: 1px;
            border-radius: 50%;
            border: black 1px solid;
            width: 1px;
            -webkit-transition: width.2s ease;
            -moz-transition: width.2s ease;
			transition: width.2s ease;
        }
            #navLinks ul li:hover {
                background-color: #CCCCCC;
                border-color: #CCCCCC;
            }
            #navLinks ul li.active {
                background-color: #F44336;
                color: #F44336;
				width: 25px;
				height: 1px;
				border: none;
				border-radius: 20%;
            }
            #navLinks ul li.active:hover {
                color: #F44336;
                background-color: #F44336 !important;
            }
}

#navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}

#navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}

.itemControl {
	text-decoration: none;
	color: #000000;
	background-color: transparent !important;
	border: none !important;
    font-family: Courier, 'Corier New', monospace;
    font-size: .95rem;
}

.itemControl:hover {
	color: #fff;
	background: #000000 !important;
}

#slider-prev {
	position: absolute;
	bottom: 0;
	left: 0;
}

#slider-next {
	position: absolute;
	right: 0;
	bottom: 0;
}